@inject IUsersRepository _usersRepository
@model UserProfileModel
@{
    string logoPath = await _usersRepository.GetLogoPathAsync(User.GetId());
}

<div class="main__user-profile user-profile">
    <h2 class="text-danger">@TempData["errorMessage"]</h2><br>

    @if (logoPath == null)
    {
        <img class="user-profile__profile-img" src="~/src/img/w128h1281338911651user.png" alt="">
        <form asp-action="ChangeLogo" method="post" enctype="multipart/form-data">
            <input class="nav-page__enabled" type="file" name="Logo" id="Logo" />
            <button class="nav-page__enabled" type="submit">Save</button>
        </form>
    }
    else
    {
        <img class="user-profile__profile-img" src="~/@logoPath.PathToUrl()" alt="Alternate Text" />
        <form asp-action="ChangeLogo" method="post" enctype="multipart/form-data">
            <input class="nav-page__enabled" asp-for="Logo" value="Attach" />
            <button class="nav-page__enabled" type="submit">Save</button>
        </form>
    }
    <form asp-action="ChangeInfo" method="post">
        <span asp-validation-for="UserName"></span><br />
        <label class="form-create__label" asp-for="UserName">Nickname</label>
        <input class="form-create__input" type="text" asp-for="@Model.UserName"/><br>

        <label class="form-create__label">FirstName</label>
        <input class="form-create__input" type="text" asp-for="@Model.FirstName"/><br>

        <label class="form-create__label">LastName</label>
        <input class="form-create__input" type="text" asp-for="@Model.LastName"/><br>

        <button class="nav-page__enabled" type="submit">Change</button>
        <a class="nav-page__enabled " asp-controller="User" asp-action="Profile" asp-route-identity="@Context.User.GetId()">Cancel</a>
    </form>
</div>