@inject IUserService _userService
@model UserProfileModel
@{
    var currentUserName = User.Identity.Name;
    string logoPath = await _userService.GetLogoPathAsync(Model.Id);
}

<div class="main__user-profile user-profile">
    @if (logoPath == null)
    {
        <img class="user-profile__profile-img" src="~/src/img/w128h1281338911651user.png" alt="Alternate Text" />
    }
    else
    {
        <img class="user-profile__profile-img" src="~/@logoPath.PathToUrl()" alt="Alternate Text" />
    }
    <div class="user-profile__info">
        <p><b>Nickname: </b>@Model.UserName</p>
        <p><b>FirstName: </b>@Model.FirstName</p>
        <p><b>LastName: </b>@Model.LastName</p>
        @if (Model.UserName == currentUserName)
        {
            <p><b>Email: </b>@Model.Email</p>
        }
        <p class="completed__task">
            <b>Rating:</b> completed errand @Model.CompletedErrands
        </p>
    </div>
    <div>
        @if (Model.UserName == currentUserName)
        {
            <a class="nav-page__enabled" asp-action="ChangeInfo">ChangeInfo</a>
            <a class="nav-page__enabled" asp-route-id="@Model.Id" asp-action="ResetPassword" asp-controller="Account">Reset Password</a>
        }
    </div>
</div>