
@model ListErrandsToDoViewModel
@{
    ViewData["Title"] = "I took";
}
@inject IUsersRepository _usersRepository

<div class="main__table">
    @if (TempData[TempDataResult.SuccessMessage] != null)
    {
        <div class="success__block">@TempData[TempDataResult.SuccessMessage]</div>
    }
    
    <h2 class="card__category">Errands to do</h2>
    @foreach (var errand in Model.Errands)
    {
        <div class="card">
            <div class="card__done">
                <div>
                    <span class="@(errand.Done ? "txt-success" : "txt-info")">@(errand.Done?"Confirmed":"User has not yet confirmed this errand ")</span><br /><br />
                </div>
            </div>

            <h2 class="card__category">
                @errand.Title
            </h2>

            <div class="card__desk">
                @errand.Description
            </div>
            <div class="card__price">Price: @errand.Cost.ToString("F")</div>
            <div class="card__user-info">
                <h3>
                    User:
                    <a asp-controller="User" asp-action="Profile" asp-route-identity="@errand.NeedlyUserId">
                        @await _usersRepository.GetUserInfoAsync(errand.NeedlyUserId).ContinueWith(w => w.Result.UserName)
                    </a>
                    <form asp-action="Chat" asp-controller="Message" method="post">
                        <input type="hidden" name="receiverUserId" value="@errand.NeedlyUserId" />
                        <button type="submit">Send Message</button>
                    </form>
                </h3>
            </div>
        </div>
    }
    @if (Model.PageInfo.TotalItems > ControllerConstants.ItemPerToDoErrandsPage)
    {
        <nav class="card__nav">
            <a asp-action="ListMyErrand" asp-route-pageNumber="@(Model.PageInfo.CurrentPage - 1)"
               class="@(Model.PageInfo.CurrentPage == 1?"nav-page__disabled":"nav-page__enabled")">back</a>
            <a asp-action="ListMyErrand" asp-route-pageNumber="@(Model.PageInfo.CurrentPage + 1)"
               class="@(Model.PageInfo.CurrentPage == Model.PageInfo.TotalPages?"nav-page__disabled":"nav-page__enabled")">next</a>
        </nav>
    }
</div>