
@model ListMyErrandsViewModel
@{
    ViewData["Title"] = "My List";
}
@inject IUserService _userService

<div class="main__table">
    @if (TempData[TempDataResult.SuccessMessage] != null)
    {
        <div class="success__block">@TempData[TempDataResult.SuccessMessage]</div>
    }
    @if (TempData[TempDataResult.ErrorMessage] != null)
    {
        <div class="success__block">@TempData[TempDataResult.ErrorMessage]</div>
    }
    <h2 class="card__category">My errands</h2>
    @foreach (var errand in Model.Errands)
    {
        <div class="card">
            <div class="card__done">
                <div>
                    <span class="@(errand.Done ? "txt-success" : "txt-danger")">@(errand.Done?"Done":"Not done")</span>
                    <span class="@(errand.Active ? "txt-info" : "txt-success")">@(errand.Active?"Active":"Helper user exist")</span><br /><br />
                </div>
            </div>

            <h2 class="card__category">
                @errand.Title
            </h2>

            <div class="card__desk">
                @errand.Description
            </div>
            <div class="card__price">Price: @errand.Cost.ToString("F")</div>
            @if (errand.HelperUserId != null)
            {
                <div class="card__user-info">
                    <h3>
                        Helper user:
                        <a asp-controller="User" asp-action="Profile" asp-route-identity="@errand.HelperUserId">
                            @await _userService.GetUserInfoAsync(errand.HelperUserId).ContinueWith(w => w.Result.UserName)
                        </a>
                        <form asp-action="Chat" asp-controller="Message" method="post">
                            <input type="hidden" name="receiverUserId" value="@errand.HelperUserId" />
                            <button type="submit">Send Message</button>
                        </form>
                    </h3>
                </div>
                <form asp-action="Confirm" asp-controller="Errand" method="post">
                    <input type="hidden" name="id" value="@errand.Id" />
                    <button class="@(errand.Done ? "card__disable" : "card__aply")" type="submit">Confirm</button>
                </form>
            }
            @if (errand.Done)
            {
                <form asp-action="Delete" asp-controller="Errand" method="post">
                    <input type="hidden" name="id" value="@errand.Id" />
                    <button class="card__aply" type="submit">Delete</button>
                    <a asp-controller="Errand" asp-action="Edit" asp-route-id="@errand.Id" class="card__disable">Edit</a>
                </form>
            }
            else
            {
                <form asp-action="Delete" asp-controller="Errand" method="post">
                    <input type="hidden" name="id" value="@errand.Id" />
                    <button class="card__aply" type="submit">Delete</button>
                    <a asp-controller="Errand" asp-action="Edit" asp-route-id="@errand.Id" class="card__aply">Edit</a>
                </form>
            }

        </div>
    }
    @if (Model.PageInfo.TotalItems > ControllerConstants.ItemPerMyErrandsPage)
    {
        <nav class="card__nav">
            <a asp-action="ListMyErrand" asp-route-pageNumber="@(Model.PageInfo.CurrentPage - 1)"
               class="@(Model.PageInfo.CurrentPage == 1?"nav-page__disabled":"nav-page__enabled")">back</a>
            <a asp-action="ListMyErrand" asp-route-pageNumber="@(Model.PageInfo.CurrentPage + 1)"
               class="@(Model.PageInfo.CurrentPage == Model.PageInfo.TotalPages?"nav-page__disabled":"nav-page__enabled")">next</a>
        </nav>
    }
</div>